<h2>Vehicles</h2>
<a href="/vehicles/add">Add Vehicle</a>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Plate</th>
    <th>Model</th>
    <th>Action</th>

  </tr>

  <% vehicles.forEach(v => { %>
    <tr>
      <td><%= v.id %></td>
      <td><%= v.plate %></td>
      <td><%= v.model %></td>
<td>
  <a href="/vehicles/delete/<%= v.id %>"
     onclick="return confirm('Delete this vehicle?')">
     Delete
  </a>
</td>


    </tr>
  <% }) %>
</table>
