<h1>Dashboard</h1>
<p>Welcome, <%= req.session.user.username %></p>

<ul>
  <li><a href="/vehicles">Vehicles</a></li>
  <li><a href="/map">Live Map</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>

